{% extends "layout.html" %}

{% block body %}

<div class="grid-container">
        <div class="navigation-bar grid-item-row-1">
            <div class="navigation-bar-left">
                <div>
                    <a href="/" class="active">Home</a>
                </div>
                <div>
                    <a href="/citizens/create">Add Citizen</a>
                </div>
            </div>
            <div class="navigation-bar-right">
                <div>
                    <input type="search">
                    <button>Search</button>
                </div>

            </div>
        </div>
        <div class="content-with-background-color grid-item-col-1-row-3">
            <p>Welcome to the NIN registration portal</p>
            <p>Please select 'Add Citizen' to begin the process</p>
        </div>
        <div class="content-with-background-image grid-item-row-2">
            <div class="animated-content">
                <p>This is the {{title}}</p>
            </div>
        </div>
        <div class="content-with-background-color grid-item-col-2-row-3">
            <p>Please ensure you have your complete details</p>
            <p>This includes your NIN, BVN & Address</p>
        </div>
        <div class="content-with-background-color grid-item-col-3-row-3">
            <p>This text should have colour background</p>
            <p>We can give the area a height beyond the few text, for better visibility too</p>
        </div>
    </div>


{% endblock%}










